body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background: black;
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.header-logo {
  margin-top: 57px;
}

.header-logo a {
  color: white;
  text-decoration: none;
}

.header-buttons {
  margin-top: 57px;
  margin-left: 20%;
}

.header-buttons a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

.header-buttons {
  margin-top: 57px;
  margin-left: 20%;
}

.menu-button {
}

.header-buttons a:hover {
  padding-bottom: 15px;
  border-bottom: 3px solid #FCAC45
}
