<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyCompany</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
  <div class="header">
    <div class="header-logo">
      <a>MYCOMPANY</a>
      <!--  тег <a> строчный, в отличии от <p>  -->
    </div>
    <div class="header-buttons">
      <a href="">HOME</a>
      <a href="">ABOUT</a>
      <a href="">SERVICES</a>
      <a href="">PORTFOLIO</a>
      <a href="">TESTIMONIALS</a>
      <a href="">CONTACT</a>
      <a on-click="openMenu()" id="menu-button" class="menu-button">&#9776;</a>
    </div>
  </div>
</body>
</html>
