* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  background: #000000;
  display: flex;
}

.header-logo {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
  margin-top: 56px;
  margin-left: 12%;

}
